*{  
    padding:0;
    margin: 0;
    border: 0;
}

.contenedorLogo{
    grid-area: logo;
}

.noScroll{
    overflow: hidden;
}

.logo{
    object-fit: contain;
    width: 100%;
}
.cuerpo{
    background:linear-gradient(to right,rgba(255,211,45,0.8) 15%,rgba(33,85,205,0.8) 45%,rgba(54, 174, 124,0.8) 90%);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
}

main{
    margin: 0.5rem 0.5rem;
}

.imgHamburguesa{
    object-fit:cover;
    width: 3rem;
}

.fotoEstadio{
    width: 95%;
    align-self: center;
}

header{
    display: grid;
    grid-template-columns: 3rem 1fr 3.5rem;
    grid-template-areas: "logo titulo botonMenu"
                            "nav nav nav";
    position: sticky;
    grid-column-gap: 1rem;
    top:0px;
    padding: 0.5rem 0.5rem 0 0.5rem;
    align-items: center;
    background-clip: border-box;
    background-color: rgba(255,211,45,1);
}

h1, h2, h3, h4{
    text-align: center;
}

h1{
    grid-area: titulo;
    font-size: 1.5rem;
    color: darkred;
    font-family: 'Bungee Shade', cursive;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.botonMenu{
    height: 100%;
    grid-area: botonMenu;
    background-color: transparent;
    border: none;
}

nav{
    grid-area: nav;
}

.linksNav{
    padding: 0.5rem;
}
li{
    list-style-position: inside;
    text-align: center;
}

.pasion{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 4.5rem;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
}

button, input, select{
    border: solid black 1px;
}

.inputNumero{
    width: 2rem;
}

.areaInputEquipo input{
    width: 7rem;
}

td{
    text-align: center;
}

.linksNav{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}

table, tr, td,th{
    font-size: 1rem;
    border: solid black 2px;
    border-collapse: collapse;
    height: fit-content;
}

input:invalid, .incorrecto{
    border: solid red 2px;
}

button{
    align-self: center;
}
tr{
    font-family: cursive;
    background:linear-gradient(#FFFFFF 30%,#F9FFA4)
}

th{
    background:linear-gradient(#7FB5FF,#FFFFFF)
}

.resaltar{
    background: #36AE7C;
}

button{
    cursor: pointer;
    padding: 0.25rem;
}

td div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
table{
    align-self: center;
}

@media only screen and (max-width: 799px){

    nav a{
        background: rgb(231,215,129);
        border-color: black;
        border-style: solid;
        border-width: 2px;
        border-radius: 20px;
        margin: 0.5rem 0;
        display: block;
    }
}
    td button{
        margin: 0.2rem;
    }

@media only screen and (min-width: 800px){

    .cuerpo{
        background: linear-gradient(rgba(255,211,45,0.8) 10%,rgba(33,85,205,0.8) 30%,rgba(54, 174, 124,0.8) 80%);
    }
    header{
        grid-area: header;
        display: flex;
        padding: 0.5rem;
    }

    #barraNav{
        display: flex;
        height: 5rem;
        flex-direction: row;
        width: 60%;
        align-items: center;
        justify-content: space-evenly;        
        border-radius: 40px;
        border: black solid 0.1rem;
        background:rgba(196,221,255,0.4)        
    }
    nav ul {
        width: 100%;
    }
    h2{   
        margin-bottom: 0.2rem;
        font-size: 2.5rem;
    }
    
    .inputNumero{
        width: 5rem;
    }  

    .linksNav:hover{
        background: rgba(84,227,70,0.5);
        border:solid black 1px;
        border-radius: 15px;
    }

    .linksNav{
        border: solid rgba(196,221,255,0) 1px; /* borde transparente para que no se corra con el hover */
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .botonMenu, .botonFechas{
        display: none;
    }
    h1{
        font-size: 2rem;
        width: 35%;
    }
    .contenedorLogo{
        width: 3rem;
    }
   
}